version: "3"
services:
  products:
    build:
      context: ./products
      dockerfile: Dockerfile
    ports:
      - "4001:4001"
  users:
    build:
      context: ./users
      dockerfile: Dockerfile
    ports:
      - "4002:4002"
  reviews:
    build:
      context: ./reviews
      dockerfile: Dockerfile
    ports:
      - "4003:4003"
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    depends_on:
      - products
      - users
      - reviews
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
